release/
src-cleo/*.txt
!src-cleo/SexMachine.txt
!src-cleo/SexTriggerer.txt
src-cleo/*.s
src-cleo/*.cs
src-cleo/*.fxt
src-cleo/*.zip
src-cleo/*.png
src-cleo/*.jpg
src-cleo/*.jpeg
src-cleo/*.gif
src-cleo/*.bmp
